.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: rgba(255 255 255 / 15%);
  backdrop-filter: blur(6px);
  z-index: 99;
  padding: 16px;

  &__mobile {
    display: block;
    background-image: url("../../../../public/images/menu-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 28px;
    height: 14px;
    border: none;
    background-color: transparent;
  }

  &__logo {
    display: block;
    max-width: 242px;
  }

  &__container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    &_opened {
      transform: translateX(0);
      transition: transform 0.3s ease-in-out;
    }
  }

  &__overlay {
    position: absolute;
    background-color: rgba(24 24 24 / 50%);
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 254px;
    margin-left: auto;
    height: 100%;
    background-color: #181818;
    padding: 32px;
    z-index: 10;
  }

  &__list {
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: column;
    z-index: 2;

  }

  &__link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;

    &:hover {
      color: #ffbb0d;
    }
  }

  &__text {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #ffbb0d;
    margin: 0;
  }
}

